
<h1 id="title" class="text-center">Tele Phoning Viva</h1> 
<span><hr class="bg-light"></span>
<div class="container bg-brown pb-2 mb-5 " style=" box-shadow: 5px 10px 8px 10px #888888;">
    <p class="lead text-center" id="description">Help Us To Know You Better</p>
        <form id="survey-form">
           <div class="form-group mb-2">
               <label id="name-label">Applicant Name</label>
               <input type="text" class="form-control" id="name"  required>
           </div>
           <div class="form-group mb-2">
               <div class="row">
               <div class="form-group col-sm-4">
                <label id="name-label">Father's name</label>
                <input type="text" class="form-control" id="name"  required>
               </div>

                <div class="form-group col-sm-4">
                    <label id="name-label">Contact no</label>
                    <input type="text" class="form-control" id="name"  required>
                </div>
                <div class="form-group col-sm-4">
                    <label id="name-label">Address</label>
                    <input type="text" class="form-control" id="name"  required>
                </div>
                </div>
            </div>   
         
           <div class="form-group mb-2">
               <label id="name-label">Contact</label>
               <input type="text" class="form-control" id="name" required>
               <small class="form-text text-muted">Your Details will be safe </small>
           </div>
           <div class="form-group">
               <label id="dropdown-label">Favourite Domain</label>
               <select id="dropdown" class="form-control">
                   <option>Web Development</option>
                   <option>Machine Leraning</option>
                   <option>Mobile Application Development</option>
                   <option>Data Analysis</option>
               </select>
           </div>
           <div class="mb-4">
               <label>Gender</label>
               <div class="row pl-3">
                   <div class="form-check mr-4">
                   <label class="form-check-label">
                       <input type="radio" name="gender" class="form-check-input">
                       Male
                   </label>
               </div>
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="radio" name="gender" class="form-check-input">
                       Female
                   </label>
               </div>
               </div>
           </div>
           <div class="mb-4">
               <label>Peronal Details</label>
               <div class="row pl-3">
                   <div class="form-check mr-4">
                   <label class="form-check-label">
                       <input type="checkbox" name="pd" class="form-check-input">
                       Student
                   </label>
               </div>
               <div class="form-check">
                   <label class="form-check-label">
                       <input type="checkbox" name="pd" class="form-check-input">
                       Professional
                   </label>
               </div>
               </div>
           </div>
           <div class="form-group">
                <label for="text-area">Additional Message</label>
               <textarea cols="50" rows="5" placeholder="Write to Us" class="form-control"></textarea>
           </div>
           <div class="row">
               <div class="col">
                   <button class="btn btn-teal btn-block"   value="submit">Submit
                   </button>
               </div>
               <div class="col">
                    <button class="btn btn-outline-secondary btn-block"   value="reset">Reset
                   </button>
               </div>
           </div>
        </form>
</div>