<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Task Management </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
          <li class="breadcrumb-item active"><a routerLink="/taskmanagement/task/list">Task List</a></li>
          <li class="breadcrumb-item active">Show</li>
        </ul>
      </div>
      <div class="col-auto float-right ml-auto">
        <a class="btn add-btn" routerLink="/taskmanagement/task/list"><i class="fa fa-share"></i> Back To List</a>
      </div>
    </div>
  </div>
  <!-- /Page Header -->



  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <!-- <div class="card-header"> -->
        <!-- <h4 class="card-title mb-0">Payroll Item Value</h4> -->
        <!-- </div>  -->
        <div class="card-body">

          <form id="formERP" [formGroup]="myForm">

            <fieldset class="row fieldsetWithoutBorder">
              <legend></legend>
              <div class="col-12">
                <div class="card" style="padding: 15px;">
                  <div class="form-group row">
                    <label class="col-form-label col-md-2">Task Name</label>
                    <div class="col-md-10">
                      <span>: &nbsp;</span><span>{{myFormData.taskName}}</span>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-form-label col-md-2">Assign To</label>
                    <div class="col-md-10">
                      <span>: &nbsp;</span><span>{{myFormData.taskAssignedToName}}</span>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-form-label col-md-2">Assign By</label>
                    <div class="col-md-10">
                      <span>: &nbsp;</span><span>{{myFormData.taskAssignedByName}}</span>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-form-label col-md-2">Satrt Date</label>
                    <div class="col-md-10">
                      <span>: &nbsp;</span><span>{{myFormData.taskStartDate }}</span>
                    </div>
                  </div>


                  <div class="form-group row">
                    <label class="col-form-label col-md-2">Satrt Date</label>
                    <div class="col-md-10">
                      <span>: &nbsp;</span><span>{{myFormData.taskEndDate }}</span>
                    </div>
                  </div>


                  <div class="form-group row">
                    <label class="col-form-label col-md-2">Status </label>
                    <div class="col-md-10">
                      <span>: &nbsp;</span><span>{{myFormData.taskStatus }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>


            <fieldset class="row fieldsetBorder logBox">
              <legend>System Log Information</legend>

              <div class="form-group">
                <label class="col-form-label">ID</label>
                <div class="">
                  <span>{{myFormData.id}}</span>
                </div>
              </div>

              <div class="form-group">
                <label class="col-form-label">Creation Time</label>
                <div class="">
                  <span>{{myFormData.creationDateTime  | date: 'yyyy/MM/dd hh:mm:ss a'}}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Creation User</label>
                <div class="">
                  <span>{{myFormData.creationUser}}</span>
                </div>
              </div>

              <div class="form-group">
                <label class="col-form-label">Last Update Time</label>
                <div class="">
                  <span>{{myFormData.lastUpdateDateTime | date: 'yyyy/MM/dd hh:mm:ss a'}}</span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Last Update User</label>
                <div class="">
                  <span>{{myFormData.lastUpdateUser}}</span>
                </div>
              </div>

            </fieldset>

            <div class="text-right">
              <a class="btn btn-primary btn-ripple" routerLink="/acl/resource/list"><i class="fa fa-share"></i>
                Close</a>
              &nbsp;
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>


</div>
<!-- /Page Content -->


<ngx-spinner bdColor="rgba(255,255,255,0.5)" size="medium" color="#667eea" type="ball-clip-rotate" [fullScreen]="false">
  <p style="color: black"> Processing... </p>
</ngx-spinner>
