<div>
    <!-- Page Wrapper -->
                <div class="page-wrapper">

                    <!-- Page Content -->
                    <div class="content container-fluid">

                        <!-- Page Header -->
                        <div class="page-header">
                            <div class="row">
                                <div class="col">
                                    <h3 class="page-title">Assign Shift</h3>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">Employees</a></li>
                                        <li class="breadcrumb-item active">Assign Shift</li>
                                    </ul>
                                </div>
                                <!-- <div class="col-auto float-right ml-auto">
                                    <a href="#" class="btn add-btn m-r-5" data-toggle="modal" data-target="#assign_shift">Assign Shift</a>

                                </div> -->
                                <div class="col-auto float-right ml-auto">
                                    <!-- <div class="btn-group btn-group">
                                        <button class="btn btn-white">Excel</button>
                                        <button class="btn btn-white">PDF</button>
                                        <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- /Page Header -->
                         <!-- Search Filter -->
                        <div class="card mb-2" style="background-color:transparent;">
                            <div class="card-body p-3">

                                <div class="row filter-row">

                                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-2 col-12">
                                        <div class="form-group form-focus">
                                          <input type="text" class="form-control floating" id="cde" (input)="searchEntity($event.target.value,'hrCrEmp')" >
                                            <label class="focus-label">Employee Code</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-12">
                                        <div class="form-group form-focus">


                                            <select class="select form-control" id="shftl" (input)="searchEntity($event.target.value,'shiftTitle')">
                                                <option value="">Select Shift</option>
                                                <option *ngFor="let data of hrTlShiftDtl" value="{{ data.title }}">{{data.title}} ({{data.startTime}}-{{data.endTime}})
                                                </option>
                                            </select>
                                              <!-- <input type="text" class="form-control floating" (input)="searchEntity($event.target.value,'shiftTitle')" > -->

                                            <label class="focus-label">Shift Title</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-12">
                                      <a  class="btn btn-success btn-block" (click)="searchFunction()" > Search <i class="fa fa-search"></i></a>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-12">
                                      <a  class="btn btn-danger btn-block" (click)="clearFilter()" > Clear <i
                                        class="fa fa-eraser"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                         <!-- /Search Filter -->

                        <!-- Content Starts -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">

                                    <div class="card-header">
                                        <div class="card-tools">
                                             <a class="btn btn-outline-primary" data-toggle="modal" data-target="#assign_shift"><i class="fa fa-plus"></i> New &nbsp;&nbsp;&nbsp;</a>

                                        </div>
                                    </div>
                                <div class="card-body">
                                    <div class="table-responsive">

                                        <div class="d-flex justify-content-start pb-1">
                                            <div class="pgn-displayDataInfo">
                                                <span class="page-item disabled">Displaying ( {{ ( ((configPgn.pageNum-1) * configPgn.pageSize) + (1) ) }}  to {{configPgn.pngDiplayLastSeq}} of {{configPgn.totalItem}} ) entries</span>
                                            </div>
                                        </div>

                                        <table id="genListTable" class="table table-striped custom-table" >
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>Employee</th>
                                                    <th>Shift Title</th>
                                                    <th>Shift Interval</th>
                                                    <th>Created at</th>




                                                    <th class="text-right no-sort">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of listData | paginate : configPgn; let i = index" [class.active]="i == currentIndex">
                                                    <td>{{ ( ((configPgn.pageNum-1) * configPgn.pageSize) + (i+1) ) }}</td>
                                                    <td>{{item.hrCrEmp.displayName}} ( {{item.hrCrEmp.loginCode}} )</td>
                                                    <td>{{item.hrTlShftDtl.title}}</td>
                                                    <td>{{item.hrTlShftDtl.startTime}} to {{item.hrTlShftDtl.endTime}} </td>
                                                    <td>{{item.createDate}}</td>




                                                    <td class="text-right">
                                                        <div class="dropdown dropdown-action">
                                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_shift" (click)="setEditFromData(item)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_employee" (click)="tempId = item.id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="listData.length === 0">
                                                    <td colspan="10">
                                                        <h5 style="text-align: center;">No data found</h5>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>


                                        <div class="d-flex justify-content-end ">

                                            <div class="" >
                                                Items per Page
                                                <select (change)="handlePageSizeChange($event)" class="pgn-pageSizeOption" >
                                                    <option *ngFor="let size of configPgn.pageSizes" [value]="size">
                                                        {{ size }}
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="pgn-pageSliceCt">
                                                <pagination-controls
                                                    responsive="true"
                                                    previousLabel="Prev"
                                                    nextLabel="Next"
                                                    (pageChange)="handlePageChange($event)">
                                                </pagination-controls>
                                            </div>

                                        </div>

                                    </div>
                                    </div>
                            </div>
                            </div>
                        </div>
                        <!-- /Content End -->

                    </div>
                    <!-- /Page Content -->
                    <ngx-spinner bdColor = "rgba(255,255,255,0.5)" size = "medium" color = "#667eea" type = "ball-clip-rotate" [fullScreen] = "false"><p style="color: black" > Processing... </p></ngx-spinner>

                </div>
                <!-- /Page Wrapper -->

                <!-- assign Shift Modal -->
                <div id="assign_shift" class="modal custom-modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Assign Shift</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form (ngSubmit)="assignShift()" [formGroup]="assignShiftForm">
                                    <div class="row filter-row mb-12">

                                        <!-- <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label>Emp Code<span class="text-danger">*</span></label>
                                                <input class="form-control" formControlName="hrCrEmp" class="form-control" type="text" (keyup)="onKeyUp($event)">
                                                <p>{{empName}}</p>
                                            </div>
                                        </div> -->
                                        <div class="col-sm-12 col-md-12">
                                          <div class="form-group">
                                              <label>Emp Code<span class="text-danger">*</span></label>
                                              <ng-select
                                                  [items]="configDDL.listData" formControlName="hrCrEmp" placeholder="Select employee"
                                                  bindLabel="ddlDescription" bindValue="ddlCode"
                                                  [searchable]="true" [clearable]="true" [virtualScroll]="true" [clearOnBackspace]="true"
                                                  (search)="searchDDL($event)" (scrollToEnd)="scrollToEndDDL()" (clear)="clearDDL()"
                                                  (click)="initSysParamsDDL($event, 'ddlDescription', '/api/common/getEmp', 'hrCrEmp')"

                                                  ddlActiveFieldName="ddlDescription" class="custom-ng-select">
                                              </ng-select>
                                          </div>
                                      </div>

                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label>Shift<span class="text-danger">*</span></label>
                                                <!-- <input class="form-control" formControlName="shift" class="form-control" type="text"> -->
                                                <select class="form-control" formControlName="hrTlShftDtl" class="form-control" type="number">
                                                    <option *ngFor="let option of hrTlShiftDtl" [value]="option.id" >{{option.title}}</option>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12">
                                            <button  class="btn btn-primary submit-btn" type="submit">
                                                Submit
                                                <!-- [disabled]="!addEmployeeForm.valid" -->
                                            </button>
                                        </div>
                                     </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Add Shift Modal -->

                <!-- Edit Shift Modal -->
                <div id="edit_shift" class="modal custom-modal fade" role="dialog">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title">Edit Shift</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <form (ngSubmit)="editShift()" [formGroup]="editShiftForm">
                                  <div class="row filter-row mb-12">

                                    <div class="col-sm-12 col-md-12">
                                      <div class="form-group">
                                          <label>Emp Code<span class="text-danger">*</span></label>
                                          <ng-select
                                              [items]="configDDL.listData" formControlName="hrCrEmp" placeholder="Select employee"
                                              bindLabel="ddlDescription" bindValue="ddlCode"
                                              [searchable]="true" [clearable]="true" [virtualScroll]="true" [clearOnBackspace]="true"
                                              (search)="searchDDL($event)" (scrollToEnd)="scrollToEndDDL()" (clear)="clearDDL()"
                                              (click)="initSysParamsDDL($event, 'ddlDescription', '/api/common/getEmp', 'hrCrEmp')"

                                              ddlActiveFieldName="ddlDescription" class="custom-ng-select">
                                          </ng-select>
                                      </div>
                                  </div>
                                      <div class="col-sm-12 col-md-12">
                                          <div class="form-group">
                                              <label>Shift<span class="text-danger">*</span></label>
                                              <!-- <input class="form-control" formControlName="shift" class="form-control" type="text"> -->
                                              <select class="form-control" formControlName="hrTlShftDtl" class="form-control" type="number">
                                                  <option *ngFor="let option of hrTlShiftDtl" [value]="option.id" >{{option.title}}</option>
                                              </select>

                                          </div>
                                      </div>

                                      <div class="col-sm-12 col-md-12">
                                          <button  class="btn btn-primary submit-btn" type="submit">
                                              Submit
                                              <!-- [disabled]="!addEmployeeForm.valid" -->
                                          </button>
                                      </div>
                                   </div>

                              </form>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- /EDIT Shift Modal -->




                    <!-- Delete Shift Modal -->
                    <div class="modal custom-modal fade" id="delete_employee" role="dialog">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="form-header">
                                        <h3>Delete Shift</h3>
                                        <p>Are you sure want to delete?</p>
                                    </div>
                                    <div class="modal-btn delete-action">
                                        <div class="row">
                                            <div class="col-6">
                                              <a  class="btn btn-primary continue-btn">Delete</a>
                                            </div>
                                            <div class="col-6">
                                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Delete Employee Modal -->
    </div>
