<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Approval Step Action</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Approval</li>
                    <li class="breadcrumb-item active">Approval Step Action</li>
                    <li class="breadcrumb-item active">List</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <div class="btn-group btn-group">
                    <button class="btn btn-white">Excel</button>
                    <button class="btn btn-white">PDF</button>
                    <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="card mb-2" style="background-color:transparent;">
        <div class="card-body p-3">

            <div class="row filter-row">

                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-2 col-12">
                    <div class="form-group form-focus">
                      <input type="text" class="form-control floating" (input)="searchEntity($event.target.value,'approvalProcess')" >
                        <label class="focus-label">Approval Process</label>
                    </div>
                </div>


                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-12">
                  <a  class="btn btn-success btn-block" (click)="searchFunction()" > Search </a>
                </div>
            </div>

        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">

            <div class="card">

                <div class="card-header">
                    <div class="card-tools">
                        <a routerLink="/approval/approval-step-action/create" class="btn btn-outline-primary"><i
                                class="fa fa-plus"></i> New
                            &nbsp;&nbsp;&nbsp;</a>
                    </div>
                </div>

                <div class="card-body">

                    <div class="table-responsive">

                        <div class="d-flex justify-content-start pb-1">
                            <div class="pgn-displayDataInfo">
                                <span class="page-item disabled">Displaying ( {{ ( ((configPgn.pageNum-1) *
                                    configPgn.pageSize) + (1) ) }} to {{configPgn.pngDiplayLastSeq}} of
                                    {{configPgn.totalItem}} ) entries</span>
                            </div>
                        </div>

                        <table id="genListTable" class="table table-striped custom-table">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Approval Process</th>
                                    <th>Approval Step</th>
                                    <th>Activity Status Code</th>
                                    <th>Activity Status Title</th>
                                    <th>Sequence</th>
                                    <th>Is Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let thisObj of listData | paginate : configPgn; let i = index"
                                    [class.active]="i == currentIndex">

                                    <td>{{ ( ((configPgn.pageNum-1) * configPgn.pageSize) + (i+1) ) }}</td>
                                    <td class="d-none">{{thisObj.id}}</td>
                                    <td>{{thisObj.approvalProcess.processName}}</td>
                                    <td>{{thisObj.approvalStep.approvalGroupName}}</td>
                                    <td>{{thisObj.activityStatusCode}}</td>
                                    <td>{{thisObj.activityStatusTitle}}</td>
                                    <td>{{thisObj.sequence}}</td>
                                    <td>{{thisObj.isActive}}</td>


                                    <td>

                                        <!-- <a data-toggle="tooltip" data-placement="left" title="view"
                                            class="btn btn-sm btn-primary"
                                            routerLink="/sim/requisition/show/{{thisObj.id}}"><i
                                                class="fa fa-eye m-r-5"></i></a>  -->
                                                &nbsp;
                                        <a class="btn btn-sm btn-info"
                                            routerLink="./edit/{{thisObj.id}}"><i
                                                class="fa fa-pencil m-r-5"></i></a>&nbsp;&nbsp;

                                        <!-- <a class="btn btn-sm btn-danger" data-toggle="modal"
                                            data-target="#delete_entity" (click)="tempId = thisObj.id">
                                            <i class="fa fa-trash-o m-r-5"></i>
                                        </a> -->
                                        <a class="btn btn-sm btn-danger"
                                        data-toggle="modal"
                                        data-target="#delete_entity"
                                        (click)="tempId = thisObj.id">
                                        <i class="fa fa-trash-o m-r-5"></i>
                                       </a>
                                    </td>
                                </tr>

                                <tr *ngIf="listData.length === 0">
                                    <td colspan="10">
                                        <h5 style="text-align: center;">No data found</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-end ">

                            <div class="" >
                                Items per Page
                                <select (change)="handlePageSizeChange($event)" class="pgn-pageSizeOption" >
                                    <option *ngFor="let size of configPgn.pageSizes" [value]="size">
                                        {{ size }}
                                    </option>
                                </select>
                            </div>

                            <div class="pgn-pageSliceCt">
                                <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next"
                                    (pageChange)="handlePageChange($event)">
                                </pagination-controls>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
<ngx-spinner bdColor="rgba(255,255,255,0.5)" size="medium" color="#667eea" type="ball-clip-rotate" [fullScreen]="false">
    <p style="color: black"> Processing... </p>
</ngx-spinner>

<!-- Delete Modal -->
<div class="modal custom-modal fade" id="delete_entity" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Item</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn" (click)="deleteEnityData(tempId)">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Modal -->
