<!-- Page Content -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Employee</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/dashboard">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Employee</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto" id="EDIT_ACTION_ID" >
                <a id="EMP_REF_ACTION_ADD" class="btn add-btn d-none" routerLink="/employees/add-employee"><i class="fa fa-plus"></i> Add Employee</a>
                <div class="view-icons">
                    <a routerLink="/employees/employeepage" class="grid-view btn btn-link active"><i
                            class="fa fa-th"></i></a>
                    <a routerLink="/employees/employeelist" class="list-view btn btn-link"><i
                            class="fa fa-bars"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchId($event.target.value)" />
                <label class="focus-label">Emp Code</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchName($event.target.value)" />
                <label class="focus-label">Employee Name</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3" *ngIf="designations">
            <div class="form-group form-focus select-focus">
                <select class="select form-control" (input)="searchByDesignation($event.target.value)">
                    <option value="">Select Designation</option>
                    <option *ngFor="let data of designations" [value]='data.id'>{{data.title}}
                    </option>
                </select>
                <label class="focus-label">Designation</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <a class="btn btn-success btn-block"> Search </a>
        </div>
    </div>
    <!-- Search Filter -->

    <div class="row staff-grid-row">
        <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3" *ngFor="let emp of empList | paginate : {
            itemsPerPage: pageSize,
            currentPage: pageNum,
            totalItems: totalItem
        } ; let i = index" [class.active]="i == currentIndex">
            <div class="profile-widget">
              <!-- <div><span>{{emp.loginCode}}</span></div> -->
                <div class="profile-img"   >
                    <a [routerLink]="'/employees/employeeprofile/'+emp.id" class="avatar"><img [ngClass]="emp.colorCode?emp.colorCode: 'color_default' " style="height:80px;width:80px;" src="{{ baseUrl + emp.pic_ }}"
                            alt="" />

                    </a>
                </div>
                <div class="dropdown profile-action">
                    <!-- <a class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                            class="material-icons">more_vert</i></a> -->
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_employee"
                            (click)="editEmp(emp.id)"><i class="fa fa-lock m-r-5"></i> Permission</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_employee"
                            (click)="tempId = emp.id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                    </div>
                </div>
                <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                  <a routerLink="/employees/employeeprofile">{{ emp.loginCode }}</a> <br>
                    <a routerLink="/employees/employeeprofile">{{ emp.displayName }}</a>
                </h4>
                <div class="small text-muted">{{emp.designation}} -- {{emp.department}}</div>
            </div>
        </div>

    </div>
    <!-- pagination -->
    <div class="d-flex justify-content-end ">

        <div class="" [formGroup]="myGroup">
            Items per Page
            <select (change)="handlePageSizeChange($event)" class="pgn-pageSizeOption" formControlName="pageSize">
                <option *ngFor="let size of pageSizes" [value]="size">
                    {{ size }}
                </option>
            </select>
        </div>

        <div class="pgn-pageSliceCt">
            <pagination-controls
                responsive="true"
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="handlePageChange($event)">
            </pagination-controls>
        </div>

    </div>
</div>

<!-- /Page Content -->



<!-- Delete Employee Modal -->
<div class="modal custom-modal fade" id="delete_employee" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Employee</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary continue-btn" (click)="deleteEmployee()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Employee Modal -->

<ngx-spinner bdColor = "rgba(0,0,0,0.3)" size = "medium" color = "#667eea" type = "ball-clip-rotate" [fullScreen] = "false"><p style="color: white" > Processing... </p></ngx-spinner>
