<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Viva Board</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/irecruitment/vivaboard/list">Viva Board </a></li>
                    <li class="breadcrumb-item active">{{ data.title}}</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn add-btn" routerLink="/irecruitment/vivaboard/list"><i class="fa fa-share"></i> Back To List</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->



    <div class="row">


        <div class="col-lg-12">
            <div class="card">
                <!-- <div class="card-header"> -->
                    <!-- <h4 class="card-title mb-0">Payroll Item Value</h4> -->
                <!-- </div>  -->
                <div class="card-body">



                    <h3 class="card-title text-center"> <i class="fa fa-briefcase"></i> {{ data.title}}</h3>


                    <div class="row">


                        <table id="genListTable" class="table table-striped custom-table" >
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th class="d-none">TB_ROW_ID</th>
                                    <th>Code/Details</th>
                                    <th>Name</th>
                                    <th>Details</th>
                                    <th>Mobile</th>
                                    <th>Email</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let thisObj of myFormData; let i = index" [class.active]="i == currentIndex">
                                    <td>{{ (i+1) }}</td>
                                    <td> {{thisObj.empCode ? thisObj.empCode: 'EXTERNAL'}}</td>
                                    <td>
                                      <img class="avatar" alt="" style="height:20px;width:20px;" *ngIf="thisObj.pic_" src="{{ baseUrl + thisObj.pic_}}">
                                        {{thisObj.boardMemberName ? thisObj.boardMemberName: thisObj.externalMember}}
                                    </td>
                                    <td>{{thisObj.designation ?thisObj.designation:thisObj.externalMemberAddr}}</td>
                                    <td>{{thisObj.mobCode ? thisObj.mobCode:thisObj.externalMemberPhn}} </td>
                                    <td>{{thisObj.email ?thisObj.email:thisObj.externalMemberEmail}}</td>

                                </tr>


                            </tbody>
                        </table>










                    </div>

                </div>
            </div>
        </div>












</div>
<!-- /Page Content -->


<ngx-spinner bdColor = "rgba(255,255,255,0.5)" size = "medium" color = "#667eea" type = "ball-clip-rotate" [fullScreen] = "false"><p style="color: black" > Processing... </p></ngx-spinner>
